body {
    font-family: "PT Sans", "Frutiger", "Helvetica", sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    font-weight: normal;
    min-width: 768px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
html {
    margin: 0;
    padding: 0;
}

.everything {
    width: 768px;
    height: auto;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    /** background-image: url(../img/sedona-index-768.jpg);**/
}

.headline,
.subtitle {
    font-size: 21px;
    line-height: 26px;
}

h2 {
    font-size: 21px;
}

.main-header {
    width: 100%;
}

.top-menu {
    width: 100%;
    outline: 1px solid;
}

img {
    display: block;
}

.top-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    outline: 1px solid;
    font-size: 0;
    padding-left: 6%;
    padding-right: 6%;
}

.top-menu li {
    display: inline-block;
    width: 20%;
    text-align: center;
    white-space: nowrap;
    outline: 1px solid;
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 14px;
    font-weight: bold;
    vertical-align: top;
}

.top-menu li:last-child {
    text-align: right;
}

.top-menu li:first-child {
    text-align: left;
}

.top-menu .center {
    display: inline-block;
    white-space: nowrap;
    outline: 1px solid;
    padding-top: 0;
    padding-bottom: 0;
}

.top-menu img {
    margin-left: auto;
    margin-right: auto;
}

.top-menu a {
    text-decoration: none;
    text-align: center;
    outline: 1px solid;
    color: black;
}

.top-menu .center a {
    position: absolute;
    left: 606px;
}

.intro {
    outline: 1px solid;
    padding-top: 76px;
    background-image: url(../img/background_photo.jpg);
}

.welcome img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    outline: 1px solid;
}

/**.frame {
    display: inline-block;
    width: 768px;
    height: 40px;
    background-image: url(../img/frame.png);
    vertical-align: bottom;
    outline: 1px solid;
    margin-top: 48px;**/
}
.intro::after {
    background-image: url(../img/frame.png); 
    display: inline-block;
    width: 768px;
    height: 40px;
    vertical-align: bottom;
    margin-top: 48px;
}

.info {
    outline: 1px solid;
    display: block;
    width: 100%;
    padding-top: 30px;
    clear: both;
}

.info .headline {
    padding-bottom: 3px;
    padding-top: 8px;
    width: 500px;
    outline: 1px solid;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: black;
    margin-bottom: 30px;
    font-weight: bold;
}

.info p {
    outline: 1px solid;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 14px;
    padding-bottom: 40px;
}

.townlet {
    display: block;
    outline: 1px solid;
    width: auto;
    box-sizing: content-box;
    background-color: #81B3D2;
}

.townlet_foto {
    float: right;
    width: 513px;
    height: 257px;
    background-image: url(../img/hotel.jpg);
    background-repeat: no-repeat;
}

.townlet p {
    text-align: center;
}

.townlet h2 {
    text-align: center;
}

.townlet span {
    text-align: center;
}

.info-side {
    outline: 1px solid;
    width: 255px;
    display: block;
    float: left;
    padding-top: 19px;
    box-sizing: content-box;
    color: white;
}

.info-side span {
    display: block;
    width: 100%;
    text-align: center;
}

.info-side p {
    padding-top: 14px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.available {
    outline: 1px solid;
    clear: both;
    display: block;
}

.available .options {
    outline: 1px solid;
    width: 33.33%;
    float: left;
}

.search {
    outline: 1px solid;
    width: 570px;
    margin-left: auto;
    margin-right: auto;
}

.search-form {
    display: none;
}

.search a {
    outline: 1px solid;
    width: 570px;
    display: block;
    text-align: center;
    text-decoration: none;
    padding-top: 35px;
}

footer {
    outline: 1px solid;
    width: 100%;
    display: block;
}

.bottom {
    outline: 1px solid;
    width: 256px;
    float: left;
    display: block;
    padding-top: 50px;
    padding-bottom: 50px;
}

.bottom a {
    outline: 1px solid;
}

.important {
    outline: 1px solid;
    width: 100%;
}

.result {
    outline: 1px solid;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.options {
    outline: 1px solid;
    width: 100%;
}

.options .subtitle {
    display: block;
    width: 100%;
    text-align: center;
}

.options p {
    display: block;
    width: 200px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.options span {
    display: block;
    width: 100%;
    text-align: center;
}

.options::before {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    padding-top: 130px;
    background-position: bottom;
    outline: 1px solid;
    background-repeat: no-repeat;
    content: "";
    width: 100%;
}

.house::before {
    background-image: url(../img/house.png);
}

.burger::before {
    background-image: url(../img/burger.png);
}

.present::before {
    background-image: url(../img/present.png);
}

.available_bottom .options::before {
    display: none;
}

.subtitle {
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 9px;
}

.suggestion {
    outline: 1px solid;
       display: block;
    padding-left: 46px;
    padding-right: 44px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 678px;
}

.bridge_foto {
    float: left;
    background-image: url(../img/bridge.jpg);
    background-repeat: no-repeat;
    width: 513px;
    height: 257px;
}

.fieldset {
    float: left;
    width: 256px;
    box-sizing: border-box;
    margin: 0;
}

.suggestion-item {
    float: left;
    display: inline-block;
    width: 400px;
    outline: 1px solid;
}

.suggestion img {
    float: left;
    margin-right: 30px;
   
}
.descriptive h2 {
    margin: 0;
    width: 300px;
    margin-bottom: 10px;
}

.rating {
    
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    
    background-color: #F2F2F2;
}
.rating_stars {
    float: right;
    outline: 1px solid;
    width: 100px;
    
}
.stars {
    display: block;
    width: 100%;
    height: 20px;
    outline: 1px solid;
    background-image: url(../img/4stars.png);
    background-repeat: no-repeat;
   margin-bottom: 53px;
}


.paragraphs {
        display: inline-block;
    font-size: 0;outline: 1px solid;
    width: 400px;
    
}

.paragraphs p {
    width: 110px;
    outline: 1px solid;
    font-size: 14px;
    display: inline-block;
    margin: 0;
}
.paragraphs p:last-child {
    padding-left: 7px;
}

.details {
    padding-top: 12px;
}



.details a {
    border: 1px solid black;
    padding-bottom: 4px;
    padding-top: 4px;
    text-decoration: none;
}

label {
    display: block;
}

.academy {
    display: block;
    width: 196px;
    height: 38px;
    outline: 1px solid;
    /** background-repeat: no-repeat;**/
    background-image: url(../img/logo_bottom.png);
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    
}

.available_bottom {
    margin-top: 30px;
    margin-bottom: 0;
}

.bottom_sprite {
    padding-left: 45px;
    position: absolute;
}

.sprite {
    background: #81B3D2 url(../img/sprite.png) no-repeat;
    display: inline-block;
    width: 46px;
    height: 48px;
    vertical-align: middle;
    position: relative;
    margin: 3px;
}

.facebook {
    background-size: 35px;
    background-position: 10px 7px;
}

.twitter {
    background-size: 40px;
    background-position: 5px -30px;
}

.youtube {
    background-size: 40px;
    background-position: 3px -65px;
}

.fieldset {
    margin-top: 30px;
}

.fieldset legend {
    font-weight: bold;
    font-size: 16px;
}

.fieldset .pool {
    outline: 1px solid;
}

.detailed {
    font-weight: bold;
    color: white;
    background-color: #81B3D2;
    display: inline-block;
    padding-left: 16px;
    padding-right: 16px;
    /*вот здесь и ниже сделал padding но не сработало*/
}

.book {
    font-weight: bold;
    color: white;
    background-color: #766357;
    padding-left: 16px;
    padding-right: 16px;
    display: inline-block;
    margin-left: 2px;
}

.sorting a {
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
}
.visit {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    
}
