body {
    font-family: "PT Sans", "Frutiger", "Helvetica", sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    font-weight: normal;
    min-width: 768px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

html {
    margin: 0;
    padding: 0;
}

.everything {
    width: 768px;
    height: auto;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    /** background-image: url(../img/sedona-index-768.jpg);**/
}

.headline,
.subtitle {
    font-size: 21px;
    line-height: 26px;
}

h2 {
    font-size: 21px;
}

.main-header {
    width: 100%;
}

.top-menu {
    width: 100%;
    outline: 1px solid;
}

img {
    display: block;
}

.top-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    outline: 1px solid;
    font-size: 0;
    padding-left: 6%;
    padding-right: 6%;
}

.top-menu li {
    display: inline-block;
    width: 20%;
    text-align: center;
    white-space: nowrap;
    outline: 1px solid;
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 14px;
    font-weight: bold;
    vertical-align: top;
}

.top-menu li:last-child {
    text-align: right;
}

.top-menu li:first-child {
    text-align: left;
}

.top-menu .center {
    display: inline-block;
    white-space: nowrap;
    outline: 1px solid;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
}

.top-menu img {
    margin-left: auto;
    margin-right: auto;
}

.top-menu a {
    text-decoration: none;
    text-align: center;
    outline: 1px solid;
    color: black;
}

.top-menu .center a {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    z-index: 1;
}

.intro {
    outline: 1px solid;
    padding-top: 77px;
    background-image: url(../img/background_photo.jpg);
    height: 438px;
    background-position: center;
    background-size: cover;
    position: relative;
}

.intro::after {
    content: "";
    position: absolute;
    bottom: -1px;
    right: 0;
    left: 0;
    background: url(../img/frame.png) no-repeat center;
    height: 37px;
}

.welcome img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    outline: 1px solid;
}


/**.frame {
    display: inline-block;
    width: 768px;
    height: 40px;
    background-image: url(../img/frame.png);
    vertical-align: bottom;
    outline: 1px solid;
    margin-top: 48px;**/


}
.info {
    outline: 1px solid;
    display: block;
    width: 100;
    padding-top: 55px;
    clear: both;
    padding-bottom: 55px;
}
.info .headline {
    width: 500px;
    outline: 1px solid;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: black;
    margin-bottom: 30px;
    font-weight: bold;
    margin-top: 0;
}
.info p {
    outline: 1px solid;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
}
.townlet {
    display: block;
    outline: 1px solid;
    width: auto;
    box-sizing: content-box;
    background-color: #81B3D2;
}
.townlet_foto {
    float: right;
    width: 513px;
    height: 257px;
    background-image: url(../img/hotel.jpg);
    background-repeat: no-repeat;
}
.townlet p {
    text-align: center;
}
.townlet h2 {
    text-align: center;
    line-height: 1;
}
.townlet span {
    text-align: center;
}
.info-side {
    outline: 1px solid;
    width: 255px;
    display: block;
    float: left;
    box-sizing: content-box;
    color: white;
}
.info-side span {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 25px;
}
.info-side p {
    margin-top: 24px;
    line-height: 21px;
    margin-bottom: 0;
}
.clearfix::after {
    content: "";
    clear: both;
    display: block;
}
.available {
    outline: 1px solid;
    clear: both;
    display: block;
}
.available .options {
    outline: 1px solid;
    width: 33.33%;
    float: left;
}
.search {
    outline: 1px solid;
    width: 570px;
    margin-left: auto;
    margin-right: auto;
}
.search-form {
    /**display: none;**/
}
.search a {
    outline: 1px solid;
    width: 570px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding-top: 35px;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}
footer {
    outline: 1px solid;
    width: 100%;
    display: block;
}
.bottom {
    outline: 1px solid;
    width: 256px;
    float: left;
    display: block;
    padding-top: 50px;
    padding-bottom: 50px;
}
.bottom a {
    outline: 1px solid;
}
.important {
    outline: 1px solid;
    width: auto;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 35px;
}
.result {
    outline: 1px solid;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.options {
    outline: 1px solid;
    width: 100%;
    padding-bottom: 63px;
}
.options .subtitle {
    display: block;
    width: 100%;
    text-align: center;
}
.options p {
    display: block;
    width: 200px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 25px;
    line-height: 21px;
    padding-bottom: 2px;
}
.options span {
    display: block;
    width: 100%;
    text-align: center;
}
.options::before {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 130px;
    background-position: bottom;
    outline: 1px solid;
    background-repeat: no-repeat;
    content: "";
    width: 100%;
}
.house::before {
    background-image: url(../img/house.png);
}
.burger::before {
    background-image: url(../img/burger.png);
}
.present::before {
    background-image: url(../img/present.png);
}
.available_bottom .options::before {
    display: none;
}
.subtitle {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0;
    padding-top: 45px;
}
.subtitle_options {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0;
    padding-top: 30px;
}
.suggestion {
    outline: 1px solid;
    display: block;
    padding-left: 46px;
    padding-right: 44px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 678px;
}
.bridge_foto {
    float: left;
    background-image: url(../img/bridge.jpg);
    background-repeat: no-repeat;
    width: 513px;
    height: 257px;
}
.suggestion-item {
    float: left;
    display: inline-block;
    width: 300px;
    outline: 1px solid;
}
.suggestion img {
    float: left;
    margin-right: 30px;
}
.descriptive h2 {
    margin: 0;
    width: 300px;
    margin-bottom: 10px;
}
.rating {
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #F2F2F2;
}
.rating_stars {
    float: right;
    outline: 1px solid;
    width: 210px;
    text-align: right
}
.stars {
    display: inline-block;
    width: 90px;
    height: 20px;
    outline: 1px solid;
    background-image: url(../img/4stars.png);
    background-repeat: no-repeat;
    margin-bottom: 44px;
    margin-left: 10px;
}
.stars_3 {
    background-image: url(../img/3stars.png);
    width: 65px;
    margin-left: 35px;
}
.stars_2 {
    background-image: url(../img/3stars.png);
    width: 40px;
    margin-left: 60px;
}
.paragraphs {
    display: inline-block;
    font-size: 0;
    outline: 1px solid;
    width: 300px;
}
.paragraphs p {
    width: 110px;
    outline: 1px solid;
    font-size: 14px;
    display: inline-block;
    margin: 0;
}
.paragraphs p:last-child {
    padding-left: 7px;
}
.details {
    padding-top: 12px;
}
.details a {
    border: 1px solid black;
    padding-bottom: 4px;
    padding-top: 4px;
    text-decoration: none;
}
label {
    display: block;
}
.academy {
    display: block;
    width: 196px;
    height: 38px;
    outline: 1px solid;
    /** background-repeat: no-repeat;**/
    
    background-image: url(../img/logo_bottom.png);
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
}
.available_bottom {}
.bottom_sprite {
    padding-left: 45px;
    position: absolute;
}
.sprite {
    background: #81B3D2 url(../img/sprite.png) no-repeat;
    display: inline-block;
    width: 46px;
    height: 48px;
    vertical-align: middle;
    position: relative;
    margin: 3px;
}
.facebook {
    background-size: 35px;
    background-position: 10px 7px;
}
.twitter {
    background-size: 40px;
    background-position: 5px -30px;
}
.youtube {
    background-size: 40px;
    background-position: 3px -65px;
}
.fieldset {
    float: left;
    width: 225px;
    box-sizing: border-box;
    margin: 0;
    display: inline-block;
    margin-top: 30px;
    padding: 0;
}
.fieldset input {
    display: inline-block;
}
.fieldset label {
    display: inline-block;
}
.fieldset legend {
    font-weight: bold;
    font-size: 16px;
}
.fieldset .input_label {
    outline: 1px solid;
    margin-top: 27px;
}
.filter_range {
    margin-top: 30px;
    float: right;
    outline: 1px solid;
    width: 225px;
    text-transform: uppercase;
    background-color: #2C3D46;
}
.filter_range_title {
    font-weight: 600;
    margin-bottom: 9px;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
    margin-left: 5px;
}
.price_controls {
    height: 33px;
    margin-bottom: 20px;
    border: 2px solid #ffffff;
    border-radius: 2px;
    font-size: 0;
    position: relative;
}
.price_controls::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 22px;
    background: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50% -50%);
}
.price_controls label {
    display: inline-block;
    font-size: 14px;
    line-height: 30px;
    vertical-align: top;
    cursor: pointer;
}
.price_controls .min_price,
.price_controls .max_price {
    padding-left: 39px;
    color: #ffffff;
}
.range_controls {
    margin-bottom: 32px;
    position: relative;
}
.range_controls .scale {
    height: 2px;
    background: rgba(255, 255, 255, 0, 3);
}
.range_controls .bar {
    width: 80%;
    height: 2px;
    background: #ffffff;
}
.range_toggle {
    position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0, 2);
    cursor: pointer;
}
.range_toggle:hover {
    background: #1c4f80;
}
.range_toggle_min {
    left: 0;
}
.range_toggle_max {
    left: 80%;
}
.btn_transparent {
    display: block;
    margin: 0 auto;
    padding: 5px 30px;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
}
.btn_transparent:hover {
    color: #000000;
    background-color: #ffffff;
}
.price_controls input {
    width: 50px;
    margin: 0;
    color: inherit;
    font: inherit;
    background: none;
    border: none;
    outline: none;
}
.detailed {
    font-weight: bold;
    color: white;
    background-color: #81B3D2;
    display: inline-block;
    padding-left: 16px;
    padding-right: 16px;
    /*вот здесь и ниже сделал padding но не сработало*/
}
.book {
    font-weight: bold;
    color: white;
    background-color: #766357;
    padding-left: 16px;
    padding-right: 16px;
    display: inline-block;
    margin-left: 2px;
}
.sorting a {
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
}
.visit {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
    width: 100%;
}
.result {
    padding: 0;
    padding-left: 45px;
    padding-top: 20px;
    width: auto;
    padding-bottom: 30px;
}
.result .subtitle {
    outline: 1px solid;
    float: left;
    display: inline-block;
    width: 120px;
    margin: 0;
    margin-right: 45px;
}
.together {
    outline: 1px solid;
    display: inline-block;
    padding-top: 15px;
}
.sorting {
    outline: 1px solid;
    display: inline-block;
}
.sorting span {
    outline: 1px solid;
    display: inline-block;
    font-size: 12px;
    margin-right: 3px;
}
.sorting a {
    outline: 1px solid;
    display: inline-block;
    margin-left: 32px;
}
.choice {
    outline: 1px solid;
    display: inline-block;
    widows: 50px;
    float: right;
    margin-left: 125px;
}
.choice .up {
    outline: 1px solid;
    display: inline-block;
    background-image: url(../img/up.png);
    background-repeat: no-repeat;
    width: 10px;
    height: 10px;
}
.choice .down {
    outline: 1px solid;
    display: inline-block;
    background-image: url(../img/down.png);
    background-repeat: no-repeat;
    width: 10px;
    height: 10px;
    margin-left: 10px;
}
